.Carpark {
  height: 55%;

  .Board {
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
    display: flex;

    .Column {
      width: 20%;
      display: flex;
      flex-direction: column-reverse;
      box-sizing: border-box;
      justify-content: space-around;
      height: 100%;
    }
  }
}
